@charset "UTF-8";
/* GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 1em;
}

body {
  background: #fdfdfd;
  line-height: 1.625;
}

p {
  margin: 0 0 1.5em;
}

h2 {
  font: bold 2em/1em "Helvetica Neue", Arial, sans-serif;
  margin: 1em 0;
  color: #4b4b4b;
  letter-spacing: -.04em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: #4b4b4b;
}

section {
  padding: 3% 5% 4%;
}

/* STYLING THE "main" element
–––––––––––––––––––––––––––––––––––––––––––––––––– */
main {
  display: block;
  /*bug IE*/
  background: #cacaca;
  width: 100%;
  padding: 3% 5% 4%;
}
main .boxes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
main .boxes a {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 20px;
  text-align: center;
  line-height: 70px;
  background: #136fd2;
  color: #fdfdfd;
}
main .boxes a:hover {
  background: #0f56a3;
}
@media only screen and (min-width: 321px) {
  main .boxes a {
    -webkit-flex-basis: 46%;
        -ms-flex-preferred-size: 46%;
            flex-basis: 46%;
    margin: 0 1% 20px 1%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 640px) {
  main .boxes a {
    -webkit-flex-basis: 31%;
        -ms-flex-preferred-size: 31%;
            flex-basis: 31%;
  }
}
@media only screen and (min-width: 768px) {
  main .boxes a {
    -webkit-flex-basis: 23%;
        -ms-flex-preferred-size: 23%;
            flex-basis: 23%;
  }
}

/* Styling the modal
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #a1caf6;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -5;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.modal button {
  position: absolute;
  font-size: 2em;
  background: transparent;
  border: none;
  right: 10px;
  top: 10px;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
  outline: none;
}
.modal button:hover {
  color: #fdfdfd;
}
.modal .m-content {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  width: 80%;
  margin: 0 auto;
}
.modal .m-message {
  text-align: center;
}
.modal .m-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.modal .m-info li {
  width: 100%;
  padding: 12px;
  text-align: center;
  border: 1px solid #4b4b4b;
  border-bottom: 0;
}
.modal .m-info li:nth-of-type(odd) {
  background: #8abdf4;
}
.modal .m-info li:nth-of-type(7) {
  border-bottom: 1px solid #4b4b4b;
}
@media only screen and (min-width: 530px) {
  .modal .m-info li {
    width: 50%;
  }
  .modal .m-info li:nth-of-type(odd) {
    border-right: none;
    background: transparent;
  }
  .modal .m-info li:nth-of-type(8) {
    border-bottom: 1px solid #4b4b4b;
  }
}
.modal .m-info a {
  color: inherit;
}
.modal .m-info a:hover {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #4b4b4b;
}
.modal.active {
  opacity: 1;
  z-index: 10;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* Styling the svg loader
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.loader {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.loader svg path,
.loader svg rect {
  fill: #136fd2;
}
